<md-tab-group>

  <md-tab label="TOI">
		<md-grid-list cols="3" *ngFor="let news_row of toi | chunk:3">
			<md-grid-tile *ngFor="let item of news_row">
				<md-card class="example-card">
					<md-card-header>
						<div md-card-avatar class="example-header-image"></div>
						<md-card-title>{{item.Title}}</md-card-title>
					</md-card-header>
					<img md-card-image [src]="item.ImgLink" alt="Photo of a Shiba Inu">
				</md-card>
			</md-grid-tile>
		</md-grid-list>
  </md-tab>

  <md-tab label="NDTV">
		<div class="row" *ngFor="let news_row of ndtv | chunk:3">
			<div class="col-sm-4" *ngFor="let item of news_row" >
				<md-card class="example-card">
					<md-card-header>
						<div md-card-avatar class="example-header-image"></div>
						<md-card-title>{{item.Title}}</md-card-title>
					</md-card-header>
					<img md-card-image [src]="item.ImgLink" alt="Photo of a Shiba Inu">
				</md-card>
			</div>
		</div>
  </md-tab>

  <md-tab label="ZEE">
		<div class="row" *ngFor="let news_row of zee | chunk:3">
			<div class="col-sm-4" *ngFor="let item of news_row" >
				<md-card class="example-card">
					<md-card-header>
						<div md-card-avatar class="example-header-image"></div>
						<md-card-title>{{item.Title}}</md-card-title>
					</md-card-header>
					<img md-card-image [src]="item.ImgLink" alt="Photo of a Shiba Inu">
				</md-card>
			</div>
		</div>
  </md-tab>

  <md-tab label="INTODAY">
		<div class="row" *ngFor="let news_row of in_today | chunk:3">
			<div class="col-sm-4" *ngFor="let item of news_row" >
				<md-card class="example-card">
					<md-card-header>
						<div md-card-avatar class="example-header-image"></div>
						<md-card-title>{{item.Title}}</md-card-title>
					</md-card-header>
					<img md-card-image [src]="item.ImgLink" alt="Photo of a Shiba Inu">
				</md-card>
			</div>
		</div>
  </md-tab>

  <md-tab label="ONE INDIA">
		<div class="row" *ngFor="let news_row of one_india | chunk:3">
			<div class="col-sm-4" *ngFor="let item of news_row" >
				<md-card class="example-card">
					<md-card-header>
						<div md-card-avatar class="example-header-image"></div>
						<md-card-title>{{item.Title}}</md-card-title>
					</md-card-header>
					<img md-card-image [src]="item.ImgLink" alt="Photo of a Shiba Inu">
				</md-card>
			</div>
		</div>
  </md-tab>
</md-tab-group>
