<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Latest Khabar</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">English<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a [routerLink]="['/']">Latest</a></li>
            <li><a [routerLink]="['/english/finance']">Finance</a></li>
            <li><a [routerLink]="['/english/cricket']">Cricket</a></li>
            <li><a [routerLink]="['/english/entertainment']">Entertainment</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/hindi/latest']">Hindi</a></li>
      </ul>
    </div>
  </div>
</nav>
